.carousel-container {
  height: 405px;

  div {
    -moz-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
  }
}
.carousel-image {
  height: 220px;
  width: 330px;
  object-fit: contain;
  padding-bottom: 0.5rem;
}

.set {
  img {
    margin-right: 6px;
  }
}
