.carousel-container {
  height: 405px;
  margin: auto;
  width: 100% !important;
  position: relative;
  border: 1px solid red;
}
.carousel-image {
  height: 220px;
  width: 330px;
  object-fit: contain;
  padding-bottom: 0.5rem;
}

.set {
  img {
    margin-right: 6px;
  }
}

.full {
  width: 100vw;
}

.left-arrow {
  background-color: rgb(196, 193, 193);
  width: 20px;
  opacity: 0.3;
  position: absolute;
  z-index: 999;
  height: 100%;
}
