.carousel-container {
  height: 405px;
  margin: auto;
  width: 100% !important;
  position: relative;
  //border: 1px solid black;
}
.carousel-title-wrapper {
  padding: 1.69rem 4rem 0 4rem;
}
.carousel-image {
  height: 220px;
  width: 80%;
  padding-bottom: 0.5rem;
  // object-fit: contain;
}

.set {
  img {
    margin-right: 6px;
  }
}

.full {
  width: 100vw;
}

.prev-arrow {
  background: linear-gradient(
    180deg,
    rgba(248, 248, 250, 0.8) 0%,
    #f8f8fa 51.36%,
    rgba(248, 248, 250, 0.8) 100%
  );
  width: 30px;
  opacity: 0.8;
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;

  img {
    position: absolute;
    top: 50%;
    left: 10px;
  }
}
