.all-books {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  width: 100vw;
  align-items: center;
  row-gap: 2.5rem;
}
.all-books-title {
  font-size: 0.875rem;
}

.all-books-container {
  padding: 0 4rem;
  margin: auto;
}
