.book-card-container {
  width: 403.08px;
  height: 183px;
  display: flex;
}
.book-image {
  object-fit: contain;
  width: 110px;
  height: 183px;
}

.book-details-container {
  padding-left: 0.8125rem;
}
.book-title {
  padding-top: 1rem;
  font-weight: bold;
}
