@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.border-line {
  color: red;
  margin: 0.8rem 0 1.6rem 0;
  border-top: 1px solid #eeeeee;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.slide-in-left-enter {
  transform: translateX(100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: all 200ms;
}

.slideInRight-enter {
  transform: translate3d(100%, 0, 0);
  visibility: visible;
}
.slideInRight-enter-active {
  transform: translate3d(0, 0, 0);
  transition: opacity 400ms, transform 400ms ease-in;
}
.slideInRight-exit {
  opacity: 1;
}
.slideInRight-exit-active {
  transform: translate3d(100%, 0, 0);
  transition: opacity 400ms, transform 400ms ease-in;
}
.slideInRight-appear {
  opacity: 0.01;
}
.slideInRight-appear-active {
  opacity: 1;
  transition: all 400ms ease-out;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.a {
  color: black;
}
