@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.border-line {
  color: red;
  margin: 0.8rem 0 1.6rem 0;
  border-top: 1px solid #eeeeee;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
